<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form nasabah</title>
</head>
<body>
    <div>
        <h3>Form Nasabah</h3>
        <hr>
        <form action="users_create" method="POST">
            <div>
             <label for="">Nomor Rekening</label><br>
             <input type="text" placeholder="masukan nomor rekening" name="create_nomor_rekening">
            </div>
            <div>
                <label for="">Nama</label><br>
                <input type="text" placeholder="masukan nama" name="create_nama">
            </div>
            <div>
                <label for="">Alamat</label><br>
                <input type="text" placeholder="masukan alamat" name="create_alamat">
            </div>
            <div>
                    <label for="">nomor telepon</label><br>
                    <input type="text" placeholder="masukan nomor telepon" name="create_nomor_telepon">
           </div>
           <button>submit</button>
        </form>
    </div>
</body>
</html>